/* header-section*/
header {
  display: flex;
  justify-content: space-between;
  height: 596px;
  align-items: center;
  padding: 0 5%;
}
header .header-desc {
  width: 536px;
  display: flex;
  flex-direction: column;
}
header .header-desc h1 {
  font-weight: 600;
  font-size: 52px;
  line-height: 78px;
  color: #000000;

  > span {
    color: #1c00ff;
  }
}
header .header-desc p {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #c4c4c4;
  margin-top: -20px;
}
header .header-desc .cta12 {
  margin-top: 70px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 350px;
}
header .header-desc .cta12 button {
  width: 157px;
  height: 52px;
  left: 1px;
  bottom: 92px;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.3s ease-in-out;
}

header .header-desc .cta12 .reg button:hover {
}

// header .header-desc .cta12 .reg button:hover {
//   background-color: #1c00ff;
//   color: hsl(0, 0%, 100%);
// }
header .header-desc .cta12 .exp {
  background: #1c00ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  svg {
    font-size: 30px;
  }

  &:hover {
    background-color: #ffffff;
    color: #1c00ff;
    border: 1px solid #1c00ff;
  }
}
header .header-desc .cta12 .reg {
  background-color: #ffffff;
  border: 1px solid #1c00ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1c00ff;

  &:hover {
    background-color: #1c00ff;
    color: #ffffff;
  }
}
.header-ill {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header-ill img {
  position: relative;
}
.scall-top,
.scall-botm {
  position: absolute;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.scall-botm {
  bottom: 20px;
  left: -10px;
  z-index: 10;
  width: 272px;
  height: 78px;
  background: #ffffff;
  box-shadow: 0px 10.8598px 20.8841px rgba(189, 189, 189, 0.25);
  border-radius: 8.35366px;
}
.scall-top {
  top: 250px;
  left: -100px;
  z-index: 10;
  width: 252px;
  height: 84px;
  background: #ffffff;
  box-shadow: 0px 10.8598px 20.8841px rgba(189, 189, 189, 0.25);
  border-radius: 8.35366px;
}

.scall-top span h1,
.scall-botm span h1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}
.scall-top span h2,
.scall-botm span h2 {
  font-weight: 400;
  font-size: 11.6951px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #a3a3a3;
}

.header-icon {
  background-color: #1c00ff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 85px;
  color: #ffffff;
  font-weight: 700;
  font-size: 28.5138px;
  line-height: 43px;
  text-align: center;
  color: #ffffff;
  background: #1c00ff;
  border-radius: 500px;
  position: absolute;
  left: -50px;
  box-shadow: 0px 20.0488px 25.061px rgba(162, 162, 162, 0.25);
}

.structure {
  margin-top: 60px;
  width: 100%;
  height: 134px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  // box-shadow: 0px 8.93321px 40.1994px rgba(214, 214, 214, 0.25);
  border-radius: 17.8664px;
  padding: 10px 5%;
}
.structure-cont {
  display: flex;
  justify-content: space-between;
  //   flex-direction: row;
  //   align-items: flex-start;
  padding: 0px;
  //   gap: 24px;
  width: 280px;
  height: 88px;

  &-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62.53px;
    height: 62.53px;

    background: #1c00ff;
    border-radius: 60px;

    svg {
      color: #ffffff;
      font-size: 30px;
    }
  }

  &-right {
    width: 200px;

    h1 {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      color: #000000;
    }

    h2 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      color: #b3b3b3;

      > span {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 12.8332px;
        line-height: 16px;
        /* identical to box height */

        color: #1c00ff;
      }
    }
  }
}

.slide {
  // margin-top: 40px;
  // margin-bottom: 40px;
  // display: flex;
  // width: 100%;
  // justify-content: space-between;
  // height: 200px;
  // align-items: center;
  // border-radius: 50px;
  // padding: 0 5%;
  // position: relative;
}

.slide img {
  cursor: pointer;
}
.slide .product {
  // // width: 960px;
  // height: 170px;
  // overflow-x: hidden;
}
.product-slide {
  // overflow-x: hidden;
}
.top-slide {
  border-radius: 10px;
}
/* design for the top sales section*/

.top-sales {
  padding: 0 5%;

  .image {
    position: relative;
    width: 40%;
    height: 100%;

    img {
      width: 400px;
      height: 100%;
    }
  }
}

@keyframes top-sale-img {
  0% {
    width: 0px;
    height: 0px;
    position: absolute;
  }
}

@keyframes top-sale-img-two {
  0% {
    width: 0px;
    height: 0px;
    position: absolute;
  }
}

@keyframes move_right {
  0% {
    transform: translateX(-20%);
    color: black;
  }
  50% {
    transform: translateX(20%);
  }
}

@keyframes move_righttwo {
  0% {
    transform: translateX(-20%);
    color: black;
  }
  50% {
    transform: translateX(20%);
  }
}

.move-right {
  animation: move_right 1s ease-in-out;
}

.move-rightt {
  animation: move_righttwo 1s ease-in-out;
}

.top-sale-img {
  animation: top-sale-img 1s ease-in-out;
}

.top-sale-img-2 {
  animation: top-sale-img-two 1s ease-in-out;
}

.card {
  // margin: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 60px;
  //   margin: 0 5%;
  width: 100%;
  height: 525px;
  background: #e5e8ff;
  box-shadow: 0px 131px 53px rgba(189, 189, 189, 0.01),
    0px 74px 44px rgba(189, 189, 189, 0.03),
    0px 33px 33px rgba(189, 189, 189, 0.04),
    0px 8px 18px rgba(189, 189, 189, 0.05),
    0px 0px 0px rgba(189, 189, 189, 0.05);
  border-radius: 17.222px;
}

.top-sales .top-sales-wright {
  width: 381px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-sales .top-sales-wright h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  /* identical to box height */

  letter-spacing: 0.05em;
}
.top-sales .top-sales-wright span {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #000000;
}
.top-sales .top-sales-wright h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */

  color: #1c00ff;
}
.top-sales .top-sales-wright button {
  border: none;
  width: 157px;
  height: 52px;
  background: #1c00ff;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.top-sales .top-sales-wright button:hover {
  background-color: #1e06d3;
}

.product-slide-cont {
  width: 160px;
  height: 150px;

  .overlay {
    position: absolute;
    top: 0;
    // left: 20px;
    width: 100%;
    height: 99%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.25s;
    border-radius: 10px;

    > * {
      transform: translateY(20px);
      transition: transform ease-in-out 0.25s;
    }

    h1 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      /* identical to box height */

      text-align: center;

      color: #ffffff;
      opacity: 1;
    }

    &:hover {
      opacity: 1;

      > * {
        transform: translateY(0);
        transition: transform ease-in-out 0.25s;
      }
    }
  }
}
/*  design for all herding*/
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 400;
}

.top {
  margin-top: 120px;
  padding: 0 5%;
  margin-bottom: 128px;

  .links {
    a {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 20.5946px;
      line-height: 25px;
      color: #c4c4c4;
    }
  }

  .prod {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;

    align-items: center;
    justify-content: center;
  }
}

.popular {
  padding: 0 5%;
}

.pop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  align-items: center;
  justify-content: center;
}

/*  become a sales person */
.seller {
  padding: 0 5%;
  margin-bottom: 120px;

  &-container {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 60px;
    height: 525px;
    background: #f2f3ff;
    box-shadow: 0px 131px 53px rgba(189, 189, 189, 0.01),
      0px 74px 44px rgba(189, 189, 189, 0.03),
      0px 33px 33px rgba(189, 189, 189, 0.04),
      0px 8px 18px rgba(189, 189, 189, 0.05),
      0px 0px 0px rgba(189, 189, 189, 0.05);
    border-radius: 30px;

    &-text {
      flex: 1;
      h1 {
        margin-bottom: 16px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 44px;
        /* or 138% */

        color: #1c00ff;
      }

      p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        /* or 156% */

        text-transform: capitalize;

        color: #000000;
      }

      a {
        button {
          margin-top: 44px;
          border: none;
          width: 157px;
          height: 52px;
          background: #1c00ff;
          border-radius: 5px;
          color: #ffffff;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }

    &-image {
      flex: 1;
    }
  }
}
.sele-product .sele-product-wright {
  display: flex;
  flex-direction: column;
  width: 503px;
  height: 100%;
  justify-content: space-around;
}
.sele-product .sele-product-wright h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #1c00ff;
}
.sele-product .sele-product-wright span {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-transform: capitalize;
  color: #000000;
}
.sele-product .sele-product-wright button {
  border: none;
  width: 157px;
  height: 52px;
  background: #1c00ff;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}
.sele-product .sele-product-wright button:hover {
  background-color: #1e06d3;
}
